mixin account-nav(activeEl1, activeEl2, activeEl3, activeEl4, activeEl5)
    .account-nav.swiper(data-slider="product-account-nav") 
        .swiper-wrapper 
            a(href="#").swiper-slide.account-nav__item(class=activeEl1) профиль
            a(href="#").swiper-slide.account-nav__item(class=activeEl2) заказы
            a(href="#").swiper-slide.account-nav__item(class=activeEl3) программа лояльности
            a(href="#").swiper-slide.account-nav__item(class=activeEl4) избранное
            a(href="#").swiper-slide.account-nav__item(class=activeEl5) сравнение
